@font-face{
    font-family: "supermarket";
    src: url(font/supermarket.woff);
}
html, body { 
    font-family: "supermarket";
    margin: 0;
    padding: 0;
    background: #dfdfdf;
    color: #444444;
}
::placeholder {
    color: white;
}
#main {
    width: 1100px;
    float: left;
    position: relative;
    top: 50px;
}
#left {
    float: left;
    width: 10%;
    position: relative;
}
#back {
    margin: 20px;
    font-weight: bold;
}
#header {
    width: 100%;
    top: 100px;
    position: relative;
}
#header > h1 {
    font-family: "supermarket";
    font-size: 50px;
    position: absolute;
    bottom: 0;
    width: 100%;
    border-bottom: 5px solid;
}
div#content {
    clear: both;
    width: 1100px;
    position: relative;
    height: 550px;
    top: 110px;
}
footer {
    position: absolute;
    text-align: right;
    width: 100%;
    border-top: 2px solid;
    bottom: 0px;
}
a {
    text-decoration: none;
    margin: 5px;
    color: #444444;
}